.color-btn {
    width: 30px;
    height: 30px;
    border: 0 solid #2879fe !important;
    box-shadow: none;
    transition: padding, border-width, box-shadow;
    transition-duration: var(--animation-duration);
}
.color-btn:hover {
    border-width: 3px !important;
    box-shadow: 3px 3px inset #fff,
                -3px -3px inset #fff;
}
.size-btn {
    width: 30px;
    height: 30px;
    transition: background-color, color;
    transition-duration: var(--animation-duration);
}
.size-btn:hover {
    background-color: #2879fe !important;
    color: #fff !important;
}

.container-indent{
    margin-top: 52px;
}
.shop-block-title{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.shop-product{
    margin-top: 30px;
    height: 510px;
    background: #fff;
}


.img-box{
    position: relative;
}

.img-box>.quickView{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffffffe9;
    color: #191919;
    transition: opacity .3s ease 0.1s;
    opacity: 0;
}

.img-box>.wishlist{
    position: absolute;
    top: 70px;
    right: 10px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffffffe9;
    color: #191919;
    transition: opacity .3s ease 0.1s;
    opacity: 0;
}
.item-info>a{
    color: #999999;
    font-size: 0.8rem;
}
.rating>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rating>ul>li>ion-icon[name="star-outline"]{
    color: #d4d4d4;
}
.rating>ul>li>ion-icon[name="star-half"]{
    color: #ffb503;
}
.rating>ul>li>ion-icon[name="star"]{
    color: #ffb503;
}
.img-description{
    position: relative;
    transition: all 0.6s ease 0.1s;
    padding-top: 15px;
    background: #fff;
    width: 100%;
    top: 0;
}
.img-description>.s-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s-row>.item-info{
    display: flex;
    justify-content: center;
}
.prod-title{
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    margin: 0.3rem 0 0 0;
}
.prod-price{
    display: flex;
    justify-content: center;
}
.prod-opt-block{
    margin: 15px 0;
}
.prod-opt-block>ul>li>a>img{
    width: 40px;
    height: 40px;
}

.prod-opt-block>ul>li>a{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 5px;
}
.prod-opt-block>ul>.active>a{
    display: inline-block;
    border: 2px solid #2879fe;
    border-radius: 5px;
}
.prod-opt-block>.opt-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.prod-add-btn>.btn-row>form{
    margin: 0;
    display: flex;
    justify-content: center;
}

.prod-add-btn{
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0;
}


.shop-product:hover .img-description{
    top: -60px;
}

.prod-add-btn{
    transition: opacity .3s ease 0.1s;
}
.shop-product:hover .prod-add-btn,
.shop-product:hover .quickView,
.shop-product:hover .wishlist{
    opacity: 1;
}

.wishlist:hover,
.quickView:hover
{
    background: #2879fe;
}