/*HEADER*/
a:link, a:focus {
    text-decoration: none;
    outline: none;
}
.logo>a{
    display: block;
    margin-right: 30px;
}

.logo-zangg{
    color: #2879fe;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.shop-section-header{
    width: 100%;
    height: 57px;
    background: #fff;
}
.desktop-header{
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.3);
    width: 100%;
    position: fixed;
    min-height: 45px;
    z-index: 30;
    background: #fff;
}
.header-holder{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    
}

.nav-holder>nav>ul{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.nav-holder>nav>ul>li>a{
    color: #000;
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
}

.nav-holder>nav>ul>li{
    padding: 8px 0 9px 0;
}
.selected>a{
    color:  #2879fe !important;
}

.logo{
    order: 1;
}

.menu{
    flex: 2 1 auto;
    order: 1;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 3;
    right: 0;
}

.search-icon,
.cart-icon,
.user{
    
    padding: 0 10px;
}

.btn-dropdown-toggle{
    background: none;
    border: none;
    outline: none;
    padding: 5px 8px;
}


.menu>.nav-holder>nav>ul>.dropdown:hover .dropdown-menu{
    display: block;
    top: 50px;
}

.dropdown{
    position: inherit;
    
}
.dropdown-menu{
    display: none;
    width: 100%;
    top: -10000px;
    padding: 33px 39px 39px 39px;
    position: absolute;
    left: 0;
    transition: all 0.3 ease-in-out 0.1s;
}

.title-submenu img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 8px;
}

.dropdown-menu ul>li{
    color: #777777;
    letter-spacing: 0.03rem;
    font-size: 0.8rem;
    padding: 5px 0; 
}

.title-submenu{
    color: #191919;
    letter-spacing: 0.03rem;
    font-weight: 500;
    font-size: 0.8rem;
}

.promo-02{
    display: block;
    position: relative;

}

.promo-02>img{
    width: 100%;
    height: auto;
}

.promo-02 .promo-decription{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}

.promo-txt-wrapper{
    padding: 30px;
    color: #fff;
}

.promo-txt-wrapper .small-promo{
    font-size: 1rem;
   
    font-weight: 500;
}

.promo-txt-wrapper .big-promo{
    font-size: 1.75rem;
    font-weight: 700;
}

.promo-txt-wrapper>p{
    font-size: 0.8rem;
    letter-spacing: 0.03rem ;
}

.promo-txt-wrapper>span{
    position: absolute;
    bottom: 30px;
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.btn-dropdown-menu{
    display: none;
    position: absolute;
    right: 0;
    width: 218px;
    background:#fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.08);
    top: 100%;
    padding: 20px;
}

.btn-dropdown-menu ul>li>a{
    color: #777777;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.btn-dropdown-menu ul>li>a>ion-icon{
    padding-right: 10px;
}
.btn-dropdown-menu ul>li>a:hover{
    color: #2879fe;
}

.btn-dropdown-toggle>ion-icon{
    pointer-events: none;
}



/*
    HEADER
    CSS BUTTON DROPDOWN MENU
*/

.cart-empty{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-breadcrumb{
    background-color: #e9ecef;
}

.nav-breadcrumb ol{
    margin-left: -1rem;
    font-size: 0.8rem;
}

/*PAGE CONTENT*/
.pageContent .login-section .login-form .item{
    height: 100%;
    padding: 35px;
    border: 1px solid #e9e7e7;
}

.pageContent .login-section .container>h2{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
}

.pageContent .login-section .item>h2,
.pageContent .login-section .item .login>h2,
.pageContent .login-section .item .forgot-pass>h2{
    font-size: 1.2rem;
    font-weight: 500;
}

.pageContent .login-section .item>p,
.pageContent .login-section .item .login>p,
.pageContent .login-section .item .forgot-pass>p{
    font-size: .9rem;
    font-weight: 300;
    color: #777777;
    padding: 15px 0;
}

.pageContent .login-section .item .form-group>a{
    padding: 10px 30px;
    border: 2px solid #2879fe;
    border-radius: 5px;
    font-size: .8rem;
    color: #2879fe;
    transition: .3s ease .1s;
    
}

.pageContent .login-section .item .form-group>a:hover{
    color: #fff;
    background-color: #2879fe;
}

.pageContent .login-section .item .form-controller .form-group>button{
    padding: 10px 30px;
    border: 2px solid #2879fe;
    border-radius: 5px;
    font-size: .8rem;
    color: #2879fe;
    transition: .3s ease .1s;
}

.pageContent .login-section .item .form-controller .form-group>button:hover{
    color: #fff;
    background-color: #2879fe;
}

.pageContent .login-section .item .form-controller .form-group>input{
    width: 100%;
    border-radius: 5px;
    background: #f7f8fa;
    padding: 11px 12px 10px 15px;
    outline: none;
    border: 1px solid #f7f8fa;
}

.pageContent .login-section .item .form-controller .form-group>input:focus{
    border: 1px solid #2879fe;
}

.pageContent .login-section .item .form-controller .form-group>label{
    font-size: .9rem;
    font-weight: 500;
}

.pageContent .login-section .item .form-go{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}


/*FOOTER*/

footer{
    margin-top: 60px;
}
footer .ft-custom-1{
    background: #2879fe;
}
footer .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 0;
}

footer .ft-custom-1 .wrap-left,
footer .ft-custom-1 .wrap-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer .newsletter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

footer .n-title{
    margin: 0 80px 0 0;
}
footer .form-gr>form{
    margin: 0;
    display: flex;
    justify-content: row;
    flex-wrap: nowrap;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
}

footer .ft-custom-1 .list-social-icons>a{
    color: #fff;
    padding: 0 10px;
}

footer .ft-custom-1 .list-social-icons>a:hover{
    color: #191919;
}

footer .form-gr>form>button{
    color: #fff;
    background-color: #303030;
    border-radius: 0 5px 5px 0;
    font-size: 0.9rem;  
}

footer .form-gr>form>button:hover{
    color: #fff;
    background-color: #191919; 
}
footer .form-gr>form>input{
    background-color: #fff;
    border-radius: 5px 0 0 5px;
    font-size: 0.9rem;
    padding: 6px 10px;
    border: 1px solid #999999;
    width: 450px;
}
footer .form-gr>form>input:focus{
    outline: none;
    border: 1px solid #191919;
}


footer .ft-custom-2{
    background: #f7f8fa;
    padding-bottom: 55px;
}
footer .ft-custom-2 div[class^="col-"]{
    margin-top: 55px;
}

footer .ft-custom-2 div[class^="col-"]>h4{
    font-size: 1rem;
    padding-bottom: 20px;
}

footer .ft-custom-2 div[class^="col-"]>.lists>ul>li,
footer .ft-custom-2 div[class^="col-"]>.lists>ul>li>a,
footer .ft-custom-2 div[class^="col-"]>.lists>span{
    font-size: 0.9rem;
    font-weight: 400;
    color: #5a5a5a;
    letter-spacing: 0.01rem;
    padding-bottom: 0.2rem;
}

footer .ft-custom-2 div[class^="col-"]>.lists>ul>li>a:hover{
    color: #2879fe;
}

footer .ft-custom-3 .ft-logo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0;
}

footer .ft-custom-3 .ft-logo .copyright>span{
    font-size: 0.8rem;
    color: #777777;
}