#billing{
  margin-top: 1rem;
}

#billing>.row{
  margin-top: 1rem;
}

.visa___title{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.visa___title>span{
  margin-right: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.logo___card{
  display: flex;
  align-items: center;
}

.visa___detail{
  margin-top: 0.5rem;
}

.visa___detail>.row>span{

  font-size: 1rem;
  padding-top: 0.3rem;
}