
a:link, a:focus {
    text-decoration: none;
    outline: none;
}
.logo>a{
    display: block;
    margin-right: 30px;
}

.logo-zangg{
    color: #2879fe;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.shop-section-header{
    width: 100%;
    height: 57px;
    background: #fff;
}
.desktop-header{
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.3);
    width: 100%;
    position: fixed;
    min-height: 45px;
    z-index: 30;
    background: #fff;
}
.header-holder{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    
}

.nav-holder>nav>ul{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.nav-holder>nav>ul>li>a{
    color: #000;
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
}

.nav-holder>nav>ul>li{
    padding: 8px 0 9px 0;
}
.selected>a{
    color:  #2879fe !important;
}

.logo{
    order: 1;
}

.menu{
    flex: 2 1 auto;
    order: 1;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 3;
    right: 0;
}

.search-icon,
.cart-icon,
.user{
    
    padding: 0 10px;
}

.btn-dropdown-toggle{
    background: none;
    border: none;
    outline: none;
    padding: 5px 8px;
}


.menu>.nav-holder>nav>ul>.dropdown:hover .dropdown-menu{
    display: block;
    top: 50px;
}

.dropdown{
    position: inherit;
    
}
.dropdown-menu{
    display: none;
    width: 100%;
    top: -10000px;
    padding: 33px 39px 39px 39px;
    position: absolute;
    left: 0;
    transition: all 0.3 ease-in-out 0.1s;
}

.title-submenu img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 8px;
}

.dropdown-menu ul>li{
    color: #777777;
    letter-spacing: 0.03rem;
    font-size: 0.8rem;
    padding: 5px 0; 
}

.title-submenu{
    color: #191919;
    letter-spacing: 0.03rem;
    font-weight: 500;
    font-size: 0.8rem;
}

.promo-02{
    display: block;
    position: relative;

}

.promo-02>img{
    width: 100%;
    height: auto;
}

.promo-02 .promo-decription{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}

.promo-txt-wrapper{
    padding: 30px;
    color: #fff;
}

.promo-txt-wrapper .small-promo{
    font-size: 1rem;
   
    font-weight: 500;
}

.promo-txt-wrapper .big-promo{
    font-size: 1.75rem;
    font-weight: 700;
}

.promo-txt-wrapper>p{
    font-size: 0.8rem;
    letter-spacing: 0.03rem ;
}

.promo-txt-wrapper>span{
    position: absolute;
    bottom: 30px;
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.btn-dropdown-menu{
    display: none;
    position: absolute;
    right: 0;
    width: 218px;
    background:#fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.08);
    top: 100%;
    padding: 20px;
}

.btn-dropdown-menu ul>li>a{
    color: #777777;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.btn-dropdown-menu ul>li>a>ion-icon{
    padding-right: 10px;
}
.btn-dropdown-menu ul>li>a:hover{
    color: #2879fe;
}

.btn-dropdown-toggle>ion-icon{
    pointer-events: none;
}



/*
    HEADER
    CSS BUTTON DROPDOWN MENU
*/

.cart-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-empty>ion-icon{
    font-size: 1.2rem;
    color: #777777;
}

.cart-empty>p{
    font-size: .9rem;
    color: #777777;
}


/*PAGE CONTENT*/
.pageContent{
    display: block;
}
.carousel-caption{
    bottom: 60px !important;
}
.carousel-item>.slide-1>h5{
    color: #2879fe;
    font-size: 2rem;
    font-family: 'Hind',sans-serif;
}

.carousel-item>.slide-1>p{
    color: #000;
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Hind',sans-serif;
    margin-bottom: 2rem;
}

.carousel-item>.slide-2>h5{
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Hind',sans-serif;
}

.carousel-item>.slide-3>h5{
    color: #2879fe;
    font-size: 2.5rem;
    font-weight: 300;
    font-family: 'Hind',sans-serif;
}
.carousel-item>.slide-2>div,
.carousel-item>.slide-3>div{
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Hind',sans-serif;
    margin-bottom: 2rem;
}

.carousel-caption>button{
    padding: 12px 40px;
}

/*
    SHOP-SECTION-2
*/
.promo-box{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    width: 100%;
}
#shop-section-2 .hover-scale img{
    display: block;
    width: 100%;
    height: auto;
    transition: 1s ease-in-out;
}
#shop-section-2 .hover-scale:hover img{
    transform: scale(1.2);
}

#shop-section-2 .s2-decription{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #777777;

    transition: color .3s linear;
}

#shop-section-2 .s2-decription-wrap{
    background: #f5f4f3;
    padding: 10px 35px;
    border-radius: 5px;
}

#shop-section-2 .promo-box:hover .s2-decription{
    color: #fff;
}

#shop-section-2 .promo-box:hover .s2-decription-wrap{
    background-color: #2879fe;
}

#shop-section-2 .row{
    margin-left: -10px;
    margin-right: -10px;
}

#shop-section-2 .col-sm-6,
#shop-section-2 .col-md-6,
#shop-section-2 .col-sm-12{
    padding: 0 10px;
}

/*SHOP-SECTION-3*/
#shop-section-3 .container-indent{
    margin-top: 52px;
}
.shop-block-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shop-product{
    margin-top: 30px;
    height: 510px;
    background: #fff;
}


.img-box{
    position: relative;
}

.img-box>.quickView{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffffffe9;
    color: #191919;
    transition: opacity .3s ease 0.1s;
    opacity: 0;
}

.img-box>.wishlist{
    position: absolute;
    top: 70px;
    right: 10px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffffffe9;
    color: #191919;
    transition: opacity .3s ease 0.1s;
    opacity: 0;
}
.item-info>a{
    color: #999999;
    font-size: 0.8rem;
}
.rating>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rating>ul>li>ion-icon[name="star-outline"]{
    color: #d4d4d4;
}
.rating>ul>li>ion-icon[name="star-half"]{
    color: #ffb503;
}
.rating>ul>li>ion-icon[name="star"]{
    color: #ffb503;
}
.img-description{
    position: relative;
    transition: all 0.6s ease 0.1s;
    padding-top: 15px;
    background: #fff;
    width: 100%;
    top: 0;
}
.img-description>.s-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s-row>.item-info{
    display: flex;
    justify-content: center;
}
.prod-title{
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    margin: 0.3rem 0 0 0;
}
.prod-price{
    display: flex;
    justify-content: center;
}
.prod-opt-block{
    margin: 15px 0;
}
.prod-opt-block>ul>li>a>img{
    width: 40px;
    height: 40px;
}

.prod-opt-block>ul>li>a{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 5px;
}
.prod-opt-block>ul>.active>a{
    display: inline-block;
    border: 2px solid #2879fe;
    border-radius: 5px;
}
.prod-opt-block>.opt-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.prod-add-btn>.btn-row>form{
    margin: 0;
    display: flex;
    justify-content: center;
}

.prod-add-btn{
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0;
}


#shop-section-3 .shop-product:hover .img-description{
    top: -60px;
}

#shop-section-3 .prod-add-btn{
    transition: opacity .3s ease 0.1s;
}
#shop-section-3 .shop-product:hover .prod-add-btn,
#shop-section-3 .shop-product:hover .quickView,
#shop-section-3 .shop-product:hover .wishlist{
    opacity: 1;
}

#shop-section-3 .wishlist:hover,
#shop-section-3 .quickView:hover
{
    background: #2879fe;
}

/*SECTION-4*/
.container-indent{
    margin-top: 35px;
}
#shop-section-4 .container-fluid-custom{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}
#shop-section-4 .row-custom{
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
#shop-section-4 .hover-scale img{
    display: block;
    width: 100%;
    height: auto;
    transition: 1s ease-in-out;
}
#shop-section-4 .hover-scale:hover img{
    transform: scale(1.2);
}

#shop-section-4 .s4-decription{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #777777;

    transition: color .3s linear;
}

#shop-section-4 .s4-decription-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f5f4f3e5;
    padding: 30px 55px;
    border-radius: 8px;
    transition: .3s ease .1s;
}
.sml{
    font-size: 1rem;
}

.big{
    font-size: 1.6rem;
}
#shop-section-4 .s4-decription-wrap .dec-content{
    font-weight: 500;
    color: #191919;
}

#shop-section-4 .promo-box:hover .s4-decription-wrap{
    padding: 40px 65px;
}


/*SECTION 5*/
#shop-section-5 .title-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

#shop-section-5 .title-block>.sml{
    font-weight: 500;
}


/*SECTION-6*/
#shop-section-6 .service-block{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#shop-section-6 .col-icon{
    font-size: 2.5rem;
    color: #2879fe
}

#shop-section-6 .col-description{
    padding-left: 30px;
}
#shop-section-6 .col-description>h4{
    font-size: 1rem;
    color: #191919;
}
#shop-section-6 .col-description>p{
    font-size: 0.8rem;
    font-weight: 300;
    color: #191919;
    margin-bottom: 0;
}

/*FOOTER*/

footer{
    margin-top: 60px;
}
footer .ft-custom-1{
    background: #2879fe;
}
footer .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 0;
}

footer .ft-custom-1 .wrap-left,
footer .ft-custom-1 .wrap-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer .newsletter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

footer .n-title{
    margin: 0 80px 0 0;
}
footer .form-gr>form{
    margin: 0;
    display: flex;
    justify-content: row;
    flex-wrap: nowrap;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
}

footer .ft-custom-1 .list-social-icons>a{
    color: #fff;
    padding: 0 10px;
}

footer .ft-custom-1 .list-social-icons>a:hover{
    color: #191919;
}

footer .form-gr>form>button{
    color: #fff;
    background-color: #303030;
    border-radius: 0 5px 5px 0;
    font-size: 0.9rem;  
}

footer .form-gr>form>button:hover{
    color: #fff;
    background-color: #191919; 
}

footer .form-gr>form>input{
    background-color: #fff;
    border-radius: 5px 0 0 5px;
    font-size: 0.9rem;
    padding: 6px 10px;
    border: 1px solid #999999;
    width: 450px;
}
footer .form-gr>form>input:focus{
    outline: none;
    border: 1px solid #191919;
}


footer .ft-custom-2{
    background: #f7f8fa;
    padding-bottom: 55px;
}
footer .ft-custom-2 div[class^="col-"]{
    margin-top: 55px;
}

footer .ft-custom-2 div[class^="col-"]>h4{
    font-size: 1rem;
    padding-bottom: 20px;
}

footer .ft-custom-2 div[class^="col-"]>.lists>ul>li,
footer .ft-custom-2 div[class^="col-"]>.lists>ul>li>a,
footer .ft-custom-2 div[class^="col-"]>.lists>span{
    font-size: 0.9rem;
    font-weight: 400;
    color: #5a5a5a;
    letter-spacing: 0.01rem;
    padding-bottom: 0.2rem;
}

footer .ft-custom-2 div[class^="col-"]>.lists>ul>li>a:hover{
    color: #2879fe;
}

footer .ft-custom-3 .ft-logo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0;
}

footer .ft-custom-3 .ft-logo .copyright>span{
    font-size: 0.8rem;
    color: #777777;
}