.order___info___details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order___item___detail{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order__container{
  padding: 2rem 1rem;
}

.order___info___details{
  padding: 20px 20px;
  border: 1px solid #fe8e26;
}
.order___customer{
  padding: 20px 20px;
  border: 1px solid #fe8e26;
}

.btn___goback{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}